.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url(/images/pageloading.gif) center no-repeat #f0f0f0;
  text-align: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.pagination {
	padding-top: 60px !important;
}
.disabled {
	cursor: not-allowed;
	color: #007bff !important;
}
.pactive {
	color: #04b512 !important;
	cursor: none !important;
}
.image {
	width: 100%;
}
.topics {
	padding: 46px 0px;
}
.mail-submit {
	border-radius:  0px !important;
}
body {
	font-family: museo-slab-300, Arial, Helvetica, sans-serif, Myanmar3,Yunghkio;
}
header {
	height: 100vh;
	position: relative;
}
.main-header {
	height: 400px;
	position: relative;
}

h4 {
	padding: 10px 0px;
}
/*========= Search Box ==========*/
.search_div{
	padding-bottom: 40px;
}
.form-inline .form-control {
	margin-right: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.btnsearch {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
/*========== Project List ===========*/
.project-list {
	padding:50px 0px;
	background: #e7e6e2b0;
}
.course-info {
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
	-webkit-box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.68);
	-moz-box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.68);
	box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.68);
}
.about-course {
	text-align: justify;
	padding:0px 20px;
	line-height: 2.5rem;
}
.course-info a {
	align-self: center;
}
.f-course {
	margin: 0 20px;
	width: 10px;
	height: 10px;
	font-size: 50px;
}
.feature-course-list li img {
	width: 60%;
}
.feature-course-list li {
	margin-bottom: 10px;
	list-style-type: none;
}

.feature-course-list {
	padding-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 0px;
}
/*========== /Project List ===========*/

.intro-paragraph {
	text-align: justify;
	line-height: 2.5rem;
}
.course-title {
	margin-bottom: 50px;
	font-family: 'Abel', sans-serif;
	background: #a0ce4e;
}
.bg-image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.bg-image .overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: .7;
	background: #1c1d21;
}
.home-wapper {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0
}
nav,
.nav-items,
.footer-contact-list {
	display: flex;
}
/*========= Nav Bar =============*/
.nav-items li a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ff1919;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
}
.nav-items li a:hover:before {
	visibility: visible;
	width: 100%;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	padding: 0px 112.094px;
	background: #e3effb !important;
	border-bottom: 1px solid #b9c9ca;
}
nav {
	padding: 10px 0;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	color: white;
	z-index: 999;
	transition: 0.2s padding;
}
.heading-title {
	margin-bottom: 50px;
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
}
nav .logo {
	cursor: pointer;
	color: #3acec2;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 0px;
	font-size: normal;
}
nav .nav-items {
	list-style: none;
	justify-content: space-between;
	margin-bottom: 0;
}

.nav-items li {
	align-self: center;
	padding-left: 20px;
	margin-left: 20px;
}

.nav-items li a {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	position: relative;
	color: #3acec2;
}
/*=========== END Nav Bar =============*/
section {
	z-index: 20;
	background: white;
	margin-bottom: 350px;
	padding-bottom: 50px;
}
.bg-image {
	background-image: url('../images/bg-image.jpg');
}
/*============= Footer =================*/
#toTop {
	background-color: #333;
	border-radius: 4px 4px 4px 4px;
	right: 65px;
	bottom: 36px;
	opacity: 0;
	height: 45px;
	position: fixed;
	text-align: center;
	width: 48px;
	z-index: 100000;
}
#toTop:hover {
	opacity: 1;
	background: #a0ce4e;
}
.footer-contact-list li {
	list-style: none;
	cursor: pointer;
}
.footer-contact-list li img {
	width: 30px;
}
footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	padding-top: 50px;
	height: 350px;
	background-color: #1d2028;
	z-index: -5;
}
footer a {
	color: white;
}
footer a:hover {
	text-decoration: none;
	color: white;
}
.section-footer {
	padding-bottom: 60px;
}
.mail-input {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
footer ul {
	list-style-type: none;
}
.footer-logo {
	font-family: 'Oswald', sans-serif;
	font-family: 'Noto Sans JP', sans-serif;
	padding-top: 50px;
}
.footer-bar {
	border-top: 2px solid #3e3636;
	height: 100px;
	background: #000000c7;
}
.footer-bar ul {
	padding-top: 50px;
	margin-bottom: 0px !important;
}
.footer-bar ul li{
	display: inline-block;
	margin-bottom: 0px !important;
}
.text-color {
	color: red;
	font-size: 20px;
	font-weight: 300;
}
.footer-header {
	padding-bottom: 5px;
}
/*=============== Coursers =============*/
h3.h3 {
	text-align:center;
	margin-bottom: 10px;
	text-transform:capitalize;
	font-size:1.7em;
}
.product-grid6,.product-grid6 .product-image6 {
	overflow:hidden
}
.product-grid6 {
	-webkit-box-shadow: 2px 2px 17px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 17px -2px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 17px -2px rgba(0,0,0,0.75);
	max-height: 271px;
	background: #fff;
	text-align:center;
	position:relative;
	transition:all .5s ease 0s
}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:200px;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px; height:100px; transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000; text-decoration: none; text-align:center; padding-top: 10px;}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:30px}
.social li a {
	color: initial;
}
@media only screen and (max-width:990px){
	/*.product-grid6{margin-bottom:30px}
	.product-grid6 .product-content{padding:12px 12px 15px; height:50px; }
	.product-grid6 .product-content h3{font-size: 1em; }
	.main-header {
		flex-direction: column;
		height: 80px;
	}
	.nav li{
		margin-bottom: 10px;
		}*/
	}
	@media (max-width: 769px) {
		nav {
			flex-direction: column;
		}
		nav .logo {
			font-size: 1.8em;
		}
		nav .nav-items {
			margin-right: 43px;
		}
		.home-wapper h1 {
			font-size: 1.5em !important;
		}
		.course-title {
			font-size: 1.5rem !important;
		}
		#toTop {
			right: 0;
		}
		footer {
			height: 100px;
			padding-top: 10px;
		}
		section {
			margin-bottom: 100px;
		}
		/*Project Main*/
		.project-list {
			padding-top: 0px;
		}
		.project-main {
			padding-left: 50px;
		}
		h4 {
			padding-top: 50px;
		}
		.form-control {
			width: 65% !important;
		}
		.mobile-view-footer {
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 107px;
		}
	}
